In [2]:
import pandas as pd
# 
# df = pd.read_csv("dataset2.csv", header=None, names=["kelas", "title", "review"])

In [2]:
# df["full_review"] = df["title"] + " " + df["review"]
# df.drop(columns=['title','review'],inplace=True)

In [3]:
# df

         kelas                                        full_review
0            2  Stuning even for the non-gamer This sound trac...
1            2  The best soundtrack ever to anything. I'm read...
2            2  Amazing! This soundtrack is my favorite music ...
3            2  Excellent Soundtrack I truly like this soundtr...
4            2  Remember, Pull Your Jaw Off The Floor After He...
...        ...                                                ...
3599995      1  Don't do it!! The high chair looks great when ...
3599996      1  Looks nice, low functionality I have used this...
3599997      1  compact, but hard to clean We have a small hou...
3599998      1  what is it saying? not sure what this book is ...
3599999      2  Makes My Blood Run Red-White-And-Blue I agree ...

[3600000 rows x 2 columns]

In [4]:
df['full_review'] = df['full_review'].str.lower()
df

         kelas                                        full_review
0            2  stuning even for the non-gamer this sound trac...
1            2  the best soundtrack ever to anything. i'm read...
2            2  amazing! this soundtrack is my favorite music ...
3            2  excellent soundtrack i truly like this soundtr...
4            2  remember, pull your jaw off the floor after he...
...        ...                                                ...
3599995      1  don't do it!! the high chair looks great when ...
3599996      1  looks nice, low functionality i have used this...
3599997      1  compact, but hard to clean we have a small hou...
3599998      1  what is it saying? not sure what this book is ...
3599999      2  makes my blood run red-white-and-blue i agree ...

[3600000 rows x 2 columns]

In [5]:
# import re
# df["full_review"] = df["full_review"].astype(str)
# df["full_review"] = df["full_review"].apply(lambda x: re.sub(r"[^a-zA-Z\s]", "", x))

In [6]:
df

         kelas                                        full_review
0            2  stuning even for the nongamer this sound track...
1            2  the best soundtrack ever to anything im readin...
2            2  amazing this soundtrack is my favorite music o...
3            2  excellent soundtrack i truly like this soundtr...
4            2  remember pull your jaw off the floor after hea...
...        ...                                                ...
3599995      1  dont do it the high chair looks great when it ...
3599996      1  looks nice low functionality i have used this ...
3599997      1  compact but hard to clean we have a small hous...
3599998      1  what is it saying not sure what this book is s...
3599999      2  makes my blood run redwhiteandblue i agree tha...

[3600000 rows x 2 columns]

In [7]:
# import nltk
# from nltk.corpus import stopwords

# nltk.download("stopwords")
# stop_words = set(stopwords.words("english"))

# df["full_review"] = df["full_review"].apply(lambda x: " ".join([word for word in x.split() if word not in stop_words]))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [9]:
df

         kelas                                        full_review
0            2  stuning even nongamer sound track beautiful pa...
1            2  best soundtrack ever anything im reading lot r...
2            2  amazing soundtrack favorite music time hands i...
3            2  excellent soundtrack truly like soundtrack enj...
4            2  remember pull jaw floor hearing youve played g...
...        ...                                                ...
3599995      1  dont high chair looks great first comes box hi...
3599996      1  looks nice low functionality used highchair ki...
3599997      1  compact hard clean small house really wanted t...
3599998      1  saying sure book supposed really rehash old id...
3599999      2  makes blood run redwhiteandblue agree every am...

[3600000 rows x 2 columns]

In [10]:
# from nltk.stem import WordNetLemmatizer

# nltk.download("wordnet")
# lemmatizer = WordNetLemmatizer()

# df["full_review"] = df["full_review"].apply(lambda x: " ".join([lemmatizer.lemmatize(word) for word in x.split()]))

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [11]:
# df

In [12]:
# from nltk.stem import PorterStemmer

# stemmer = PorterStemmer()

# df["full_review"] = df["full_review"].apply(lambda x: " ".join([stemmer.stem(word) for word in x.split()]))

In [13]:
df

         kelas                                        full_review
0            2  stuning even nongamer sound track beautiful pa...
1            2  best soundtrack ever anything im reading lot r...
2            2  amazing soundtrack favorite music time hand in...
3            2  excellent soundtrack truly like soundtrack enj...
4            2  remember pull jaw floor hearing youve played g...
...        ...                                                ...
3599995      1  dont high chair look great first come box hill...
3599996      1  look nice low functionality used highchair kid...
3599997      1  compact hard clean small house really wanted t...
3599998      1  saying sure book supposed really rehash old id...
3599999      2  make blood run redwhiteandblue agree every ame...

[3600000 rows x 2 columns]

In [15]:
# from nltk.tokenize import word_tokenize
# nltk.download('punkt_tab')
# df["full_review"] = df["full_review"].apply(lambda x: word_tokenize(x))

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

In [17]:
# df.to_csv('data_tokenize.csv')

In [18]:
# df

         kelas                                        full_review
0            2  [stuning, even, nongamer, sound, track, beauti...
1            2  [best, soundtrack, ever, anything, im, reading...
2            2  [amazing, soundtrack, favorite, music, time, h...
3            2  [excellent, soundtrack, truly, like, soundtrac...
4            2  [remember, pull, jaw, floor, hearing, youve, p...
...        ...                                                ...
3599995      1  [dont, high, chair, look, great, first, come, ...
3599996      1  [look, nice, low, functionality, used, highcha...
3599997      1  [compact, hard, clean, small, house, really, w...
3599998      1  [saying, sure, book, supposed, really, rehash,...
3599999      2  [make, blood, run, redwhiteandblue, agree, eve...

[3600000 rows x 2 columns]

In [21]:
# from gensim.models import Word2Vec

# model = Word2Vec(df["full_review"], vector_size=100, window=5, min_count=2, workers=4)

In [22]:
# model

In [25]:
# words = list(model.wv.index_to_key)
# print(words[:10])  # Menampilkan 10 kata pertama dalam vocabulary

# similar_words = model.wv.most_similar("soundtrack", topn=5)
# print(similar_words)

# vector = model.wv["soundtrack"]  # Ganti dengan kata lain jika perlu
# print(vector)

['book', 'one', 'great', 'like', 'good', 'would', 'time', 'get', 'read', 'movie']
[('sountrack', 0.8993687629699707), ('ost', 0.7757623195648193), ('soundtracki', 0.7161779999732971), ('remake', 0.6765425205230713), ('ennio', 0.6736351847648621)]
[ 1.3461703  -2.2456324  -0.9166429   1.9392518  -1.8786384  -1.652394
  0.34426412  2.8144653  -2.0527337  -0.9192111  -1.3317468  -0.6568742
 -0.4428003   0.04882189 -0.21000098  2.3642397   2.7564685  -1.6432183
  3.100374   -0.3250134  -1.5342864  -2.599305   -1.7318672  -1.0663942
  0.40965894  2.9224558  -5.385086   -0.2586086  -1.2749314  -2.1694682
  3.2483685  -0.94252837 -1.0559299   2.5766752  -0.8732696   1.3073529
 -0.6656496   1.6450282  -1.2374594  -1.2335291   2.175354   -2.4006653
 -2.6977296   2.7848632  -0.3463846   2.2121348  -0.42764175 -0.8988251
  1.4180528  -2.9529688   2.288067    3.332853    4.628207   -0.99922866
  2.3313322   1.4840668  -3.204604   -0.52361    -0.92553747  4.3415914
  0.8679464   1.8006912   0.6642735  -1.4454639  -0.25917345  1.0342077
  0.04881474  1.4950156  -2.3712523  -0.5077747   1.3789665  -2.7183075
  0.31649625 -3.0402734   2.6336823  -1.2650477  -1.5201142  -0.76532
  2.855171    0.19209231 -2.3339307  -2.4023294   2.3267848   1.7692865
 -1.2441628  -3.1516838   1.1337411  -3.6866055  -0.469537    0.3431758
 -1.4490422   1.0517588  -0.8360713  -1.9334354  -0.11556418  2.357954
 -1.5080281   0.46888113 -0.01436121 -1.8686528 ]

In [3]:
# model.save("word2vec_model.model")
df = pd.read_csv('data_tokenize.csv')

In [8]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [9]:
df = df.sample(frac=0.2, random_state=42)

In [10]:
df.to_csv('sample.csv',index=False)

In [12]:
df['kelas'].value_counts()

kelas
2    360241
1    359759
Name: count, dtype: int64

In [13]:
from gensim.models import Word2Vec
model = Word2Vec.load("word2vec_model.model")

In [14]:
model

In [15]:
import numpy as np

def text_to_vector(text, model):
    vectors = [model.wv[word] for word in text if word in model.wv]
    return np.mean(vectors, axis=0) if vectors else np.zeros(model.vector_size)

df["review_vector"] = df["full_review"].apply(lambda x: text_to_vector(x, model))

In [17]:
df.to_csv('reviewed_sample.csv',index=False)

In [19]:
df = df.sample(frac=0.4, random_state=42)

In [20]:
df

,kelas,full_review,review_vector
2167789,1,"['piece', 'junk', 'reason', 'gave', 'one', 'st...","[0.28226206, 1.4552075, 0.5532801, -0.40856948..."
1176300,2,"['vaccumm', 'great', 'durable', 'vacuum', 'rea...","[0.1653866, 1.2330388, 0.41547903, -0.2857752,..."
464208,2,"['well', 'pleased', 'movie', 'great', 'used', ...","[0.23214889, 1.4294834, 0.40859643, -0.3684376..."
2096385,2,"['bruce', 'lee', 'philosophy', 'understand', '...","[0.201318, 1.3447148, 0.44637308, -0.4791754, ..."
1826933,1,"['waste', 'money', 'inspired', 'purchase', 'bo...","[0.28508458, 1.4718893, 0.41540533, -0.3053980..."
...,...,...,...
110035,1,"['total', 'farce', 'documentary', 'completely'...","[0.2139435, 1.5399384, 0.3751915, -0.4110697, ..."
2963886,2,"['perfect', 'training', 'sword', 'bux', 'cant'...","[0.22952813, 1.3667341, 0.31584668, -0.3677413..."
3180675,2,"['sexpriestsecret', 'code', 'wake', 'catholic'...","[0.19941537, 1.4381062, 0.4353087, -0.31767806..."
2583525,2,"['much', 'plot', 'eleanor', 'terrific', 'much'...","[0.26731285, 1.4016154, 0.36217624, -0.3088592..."
2893946,2,"['functional', 'fit', 'hat', 'securely', 'nice...","[0.17683803, 1.3599339, 0.41262996, -0.1929775..."

In [21]:
X = np.vstack(df["review_vector"].values)  # Menggabungkan vektor menjadi array
y = df["kelas"].values  # Label (1 atau 2)

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)
print("Akurasi:", accuracy_score(y_test, y_pred))

Akurasi: 0.6105034722222222